hr.style1{
	border-top: 1px solid #8c8b8b;
}

.banner{
background: url(../images/banner-img.jpg) no-repeat center top;
background-size: 100% 100%;
}

.body-banner{
background: url(../images/body-banner-img.jpg) no-repeat center top;
background-size: 100% 100%;
}