@(extract : Form[BGPReport])(implicit  request: Http.Request, messages: play.i18n.Messages)
@import views.html.helper._;

@template("Background process reporting tool") {
  		  <p class="lead">If we are importing a set of files and you need the set of products which have errors in a excel sheet. Generates an error file with faulty attributes as columns and error products as rows.</p>
          <p> The content is error string we see in BGP log.</p>
          <p> The excel is generated in the parent folder of input file with name BGPErrorFile_Timestamp.xlsx
          <ul>
            <li>Input Server*: URL of customer step system.</li>
            <li>Username*: Username</li>
            <li>Password*: Password</li>
            <li>Context*: Context ID</li>
            <li>Input File*: Full Source file path of input file.</li>              
          </ul>
          <p> You can Download Below Sample Files for reference </p>
          <a href='@routes.FileController.downloadBgpReportSample("input")' download> Sample Input </a>         

} {
 
		<div class="alert alert-info">@request.flash().get("info")</div>
		@helper.form(action =routes.HomeController.bgpReport()){		
			@helper.inputText(extract("inputServerPath"), 
				args = ('size) -> 50,
				('required) -> "required",
				('_label) -> "Enter Input Server path ", 
				('placeholder) -> "http://cfd-stb1.codifyd.com/")	
			@helper.inputText(extract("username"), 
				args = ('size) -> 50,
				('required) -> "required",
				('_label) -> "Enter username ", 
				('placeholder) -> "stepsys")
			@helper.inputText(extract("password"), 
				args = ('size) -> 50,
				('required) -> "required",
				('_label) -> "Enter Password ", 
				('placeholder) -> "stepsys")
			@helper.inputText(extract("contextID"), 
				args = ('size) -> 50,
				('required) -> "required",
				('_label) -> "Enter Context ID ", 
				('placeholder) -> "Context1")
			@helper.inputText(extract("inputFilePath"), 
				args = ('size) -> 50,
				('required) -> "required",
				('_label) -> "Enter Input File path ", 
				('placeholder) -> "C:\\Users\\Jhonny\\input.xlsx")						
			<input type="submit" name="submit" value="Generate Report">
		}

}