@(calc : Form[Calculator])(implicit  request: Http.Request, messages: play.i18n.Messages)
@import views.html.helper._;


<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>!! Website !!</title>

<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href='@routes.Assets.versioned("stylesheets/default.css")' rel="stylesheet" type="text/css" media="screen" />
<link href='@routes.Assets.versioned("stylesheets/fonts.css")' rel="stylesheet" type="text/css" media="screen" />


</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<img src="" alt="" />
			<h1><a href="#">!mG</a></h1>
			<span>Designed</span>
		</div>
		<div id="menu">
			<ul>
				<li><a href="@routes.HomeController.index" accesskey="1" title="">Homepage</a></li>
				<li><a href="@routes.HomeController.openExcelToXMLForm" accesskey="3" title="">Excel- XML</a></li>
				<li><a href="@routes.HomeController.openXMLDiffFinderForm" accesskey="4" title="">XML Extractor</a></li>
				
			</ul>
		</div>
	</div>
	<div id="main"> 
	
		<div id="banner">
			
		</div>
		<div id="welcome">
			
			
		</div>
		
			 @helper.form(action=routes.HomeController.add()){
			@helper.inputText(field = calc("a"), '_label -> "Enter 1st Num")
			@helper.inputText(calc("b"), '_label -> "Enter 2nd Num")
			
			<input type="submit" name="Add" value="Add">
		}
		
		
	</div>
</div>
</body>
</html>