@(extract : Form[XMLExtractor], types: List[String])(implicit  request: Http.Request, messages: play.i18n.Messages)
@import views.html.helper._;


<html >
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>!! Website !!</title>
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
<link href='@routes.Assets.versioned("stylesheets/default.css")' rel="stylesheet" type="text/css" media="screen" />
<link href='@routes.Assets.versioned("stylesheets/fonts.css")' rel="stylesheet" type="text/css" media="screen" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
<script src="@routes.Assets.versioned("js/custom.js")" type="text/javascript"></script>
</head>
<body>
<div id="page" class="container">
	<div id="header">
		<div id="logo">
			<img src="" alt="" />
			<h1><a href="#">!mG</a></h1>
			<span>Designed</span>
		</div>
		<div id="menu">
			
			<ul>
				<li ><a href="@routes.HomeController.index" accesskey="1" title="">Homepage</a></li>
				<li ><a href="@routes.HomeController.openExcelToXMLForm" accesskey="2" title="">Excel- XML</a></li>
				<li class="current_page_item"><a href="@routes.HomeController.openXMLExtractForm" accesskey="3" title="">XML Extractor</a></li>
				<li><a href="@routes.HomeController.openXMLDiffFinderForm" accesskey="4" title="">XML Diff Finder</a></li>
				
			</ul>
			
		</div>
	</div>
	<div id="main"> 
		
		<div id="featured">
		
			@helper.form( action =routes.HomeController.extractPartXML(),'id -> "formExtract"){
			@helper.textarea(extract("stepNodeTypeIDs"), 'id -> "result", 'readonly -> "true")
			
			<div class ="group" id="grp1">
			@helper.select(field = extract("stepNodeType"), options = helper.options(types).toSeq, '_label -> "Select STEP Node Type", 'placeholder -> "Name", 'class -> "GrpChild")
			@helper.inputText(extract("stepNodeIDs"), '_label -> "Enter Node IDs ", 'placeholder -> "ID", 'class -> "GrpChild", 'onchange->"myFunc()")
			</div>
			<button id="addMore">Add more fields</button><br/>
			@helper.inputText(extract("inputFilePath"), '_label -> "Enter Input File Path(along with Name) ")
			@helper.inputText(extract("outputFilePath"), '_label -> "Enter Output file path ")
			
		
		<input type="submit" name="Convert" value="Extract">
		}
		
		</div>
		
	</div>
</div>
</body>
</html>